server:
  port: 8086

JWTSecret: askflanffc3U034ti3Gjwge324

spring:
  application:
    name: SSOServer
  datasource:
    url: jdbc:mysql://localhost:3306/sso_system?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
    username: root
    password: root
  freemarker:
      allow-session-override: true
      cache: false
      charset: UTF-8
      check-template-location: true
      content-type: text/html;charset=UTF-8
      enabled: true
      expose-request-attributes: true
      expose-session-attributes: false
      expose-spring-macro-helpers: true
      template-loader-path: classpath:/templates/
      settings:
        tag_syntax: auto_detect
        template_update_delay: 10
        locale: zh_CN
        datetime_format: yyyy-MM-dd HH:mm:ss
        date_format: yyyy-MM-dd
        number_format: #.##

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8089/eureka/